{% extends "layout.html" %}
{% block body %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Position</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for beach in beaches %}
            <tr>
                <td>{{ beach.id }}</td>
                <td>{{ beach.name }}</td>
                <td>{{ beach.latitude }} / {{ beach.longitude }}</td>
                <td> <a href= {{url_for('beach', UUID = beach.UUID)}} >details</a> </td>
            </tr>
            {% else %}
            <em>Unbelievable.  No entries here so far</em>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}