{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="container2">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Value</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for info in devicesInfo %}
            <tr>
                <td>-</td>
                <td>{{ info.keyName }}</td>
                <td>{{ info.value }}</td>
                <td> <a href=www.google.com>details</a> </td>
            </tr>
            {% else %}
            <em>Unbelievable.  No entries here so far</em>
            {% endfor %}
        </tbody>
    </table>
    </div>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <div>
        <h3>Today Received UV</h3><!-- bar chart canvas element -->
        <canvas id="chart2" width="600" height="400"></canvas>
            <script>
            var pieData = [
                        {% for item,label,colors in set %}
                            {
                                value: {{item}},
                                label: "{{label}}",
                                color : "{{colors}}"
                            },
                            {% endfor %}
            
            
                    ];
            
            // get bar chart canvas
            var mychart = document.getElementById("chart2").getContext("2d");
            
            steps = 10
            max = 10
            // draw pie chart
            new Chart(document.getElementById("chart2").getContext("2d")).Pie(pieData);        
            </script>
    </div>
    
    <div>
        <h3>Today Received UV</h3><!-- bar chart canvas element -->        
        <canvas id="chart" width="600" height="400"></canvas>
        <script>
        // bar chart data
        var barData = {
        labels : [{% for item in labels %}
                        "{{item}}",
                    {% endfor %}],
        datasets : [
            {
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                data : [{% for item in values %}
                            {{item}},
                            {% endfor %}]
            }
            ]
        }
        
        // get bar chart canvas
        var mychart = document.getElementById("chart").getContext("2d");
        
        steps = 10
        max = 10
        // draw bar chart
        new Chart(mychart).Bar(barData, {
                scaleOverride: true,
                scaleSteps: steps,
                scaleStepWidth: Math.ceil(max / steps),
                scaleStartValue: 0,
                scaleShowVerticalLines: true,
                scaleShowGridLines : true,
                barShowStroke : true,
                scaleShowLabels: true
        });
        
        </script>
    </div>



</div>
{% endblock %}